@verfrut:registry=https://npm.pkg.github.com
@unifrutti:registry=https://pkgs.dev.azure.com/UnifruttiLatam/FrusysCloud/_packaging/unifrutti-design/npm/registry/
//pkgs.dev.azure.com/UnifruttiLatam/FrusysCloud/_packaging/unifrutti-design/npm/registry/:username=unifrutti
//pkgs.dev.azure.com/UnifruttiLatam/FrusysCloud/_packaging/unifrutti-design/npm/registry/:_password=${UNIFRUTTI_NPM_TOKEN}
//pkgs.dev.azure.com/UnifruttiLatam/FrusysCloud/_packaging/unifrutti-design/npm/registry/:email=unused
