.breadcrumb-container {
    margin-top: 0;
    background: linear-gradient(253deg, #1B3F8C 0%, #142c61 100%);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: clamp(1.5rem, 3vw, 2.5rem) 2rem;
    min-height: clamp(95px, 10vw, 135px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 4px 20px rgba(13, 95, 195, 0.079);
}

.breadcrumb-title {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}